annotated-types
anyio
asgiref
cachetools
certifi
charset-normalizer
click
colorama
dj-database-url
Django
dotenv
et_xmlfile
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httpx
idna
jmespath
joblib
nltk
numpy
openpyxl
packaging
pandas
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
python-dateutil
python-decouple
python-dotenv
pytz
psycopg2
regex
requests
rsa
six
sniffio
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
whitenoise
